<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8" />
    <script type="text/javascript" src="/js/event.js"></script>

<!--	<script>-->
<!--	    const message = '[[${message}]]';-->
<!--	    message && alert(message);-->
<!--	</script>-->

</head>

<body>

	<div th:replace="common/header.html"></div>

	<h1 align="center">index</h1>

    <!--    채팅방 시스템 -->
    <div align="center">
        <a href="socket/chatroom.html" target="_self">채팅방 이동</a>
    </div>

	<div th:replace="common/footer.html"></div>

</body>


</html>


